.box-container {
  display: flex;
  margin: 0 auto;
  width: 700px;
  height: 290px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.box-slide {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 25px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 8px 12px;
}
